<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
<wb-module deploy-name="openbravoecorepuestos">
<wb-resource deploy-path="/" source-path="/WebContent"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/srcAD"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/build/javasqlc/srcAD"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/build/javasqlc/src"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/src-gen"/>
<wb-resource deploy-path="/WEB-INF/classes" source-path="/src-test"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.felectronica/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.reporting/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.ventas.pedido/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.nomina.empleados/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/org.openbravo.utility.hqlquerytool/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.declaraciontributaria.ecuador/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.reportes.estadoscuenta/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.reportes.bodegas/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.openbravo.gps.finance.balanceexcelexport.report/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.contabilidad/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.print.doctype/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.formatos.impresion/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.nomina.rdep/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.personalizaciones.tercero/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/org.openbravo.gps.copyrole/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.reportes.docnocontabilizados/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.cargareembolso/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.migracion/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.centrocostos/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.nomina/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.estandar.formatos/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.conciliacionec/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.ecommerce/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.importaciones/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.balance.evolutivo/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.contabilidad.procesocontable/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.offline.feletronica/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.activos/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.cobro/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/com.atrums.compras.montos/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/modules/org.openbravo.importdata/src"/>
<dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/OpenbravoCore/OpenbravoCore">
<dependency-type>uses</dependency-type>
</dependent-module>
<property name="java-output-path" value="build/classes"/>
<property name="context-root" value="openbravoecorepuestos"/>
</wb-module>
</project-modules>
